@font-face {
    font-family: "source-sans-pro";
    src: url("../fonts/SourceSansPro-Bold.otf") format("opentype");
    font-weight: bold;
}

html {
    background-color: #1a1a1a;
}

body {
    padding: 0;
    display: flex;
	flex-direction: column;
    justify-content: center; 
    align-items: center;     
    height: 100vh;          
    margin: 0;
    text-align: center;
    font-family: "source-sans-pro", sans-serif;
    color: #ededed;
}

header {
  display: flex;
  flex-direction: column;
  justify-content: space-between; 
  align-items: center;
  padding: 15px 30px;
  background-color: #4b0082;
  color: #ffffff;
  box-shadow: 0 2px 5px rgba(0,0,0,0.2);
  position: sticky;
  top: 0;
  z-index: 1000;
}

.topnav {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: #555555;
  padding: 16px 30px;
}

.topnav .logo {
  font-size: 24px;
  font-weight: bold;
  color: #ffffff;
}

.topnav .nav-links {
  display: flex;
  flex-direction: column;
  gap: 40px; 
}

.topnav .nav-links a {
  color: #ffffff;
  text-decoration: none;
  font-size: 16px;
  transition: color 0.3s;
}

.topnav .nav-links a:hover {
  color: #ffd700;
}

a {
    color: #d3d3d3;
}

.video-row {
    display: flex;
    justify-content: center;
    gap: 40px;
    flex-wrap: wrap;
}

.video-container {
    max-width: 250px;
}

.video-caption {
    color: #ededed;
    font-weight: bold;
    margin-bottom: 10px;
    text-shadow: 2px 2px 5px rgba(0,0,0,0.8);
}

.image-row {
    display: flex;
	flex-direction: column;
    justify-content: center;
    gap: 20px;
    margin-top: 40px;
}

.clickable-img {
    width: 45px;
    height: 45px;
    transition: 0.3s;
    cursor: pointer;
}

.clickable-img:hover {
    filter: brightness(1.4);
}
