@font-face {
    font-family: "source-sans-pro";
    src: url("../fonts/SourceSansPro-Bold.otf") format("opentype");
    font-weight: bold;
}

html {
    background-color: #1a1a1a;
}

body {
    margin: 0;
    text-align: center;
    font-family: "source-sans-pro", sans-serif;
    color: #ededed;
}

.topnav {
  overflow: hidden;
  background-color: #555555; 
  padding: 16px;
}

a {
    color: #d3d3d3;
}

/* --- Video Layout --- */
.video-row {
    display: flex;
    justify-content: center;
    gap: 40px;
    flex-wrap: wrap;
}

.video-container {
    max-width: 350px;
}

.video-caption {
    color: #ededed;
    font-weight: bold;
    margin-bottom: 10px;
    text-shadow: 2px 2px 5px rgba(0,0,0,0.8);
}

/* --- Images --- */
.image-row {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 40px;
}

.clickable-img {
    width: 45px;
    height: 45px;
    transition: 0.3s;
    cursor: pointer;
}

.clickable-img:hover {
    filter: brightness(1.4);
}

.moongirl {
  width: 300px;
  height: auto; 
}

.gif-row {
    display: flex;
    justify-content: center;
    gap: 20px;
}