@font-face {
    font-family: "source-sans-pro";
    src: url("../fonts/SourceSansPro-Bold.otf") format("opentype");
    font-weight: bold;
}

html, body {
    height: 100%;     
    margin: 0;  
}

body {
    font-family: "source-sans-pro", sans-serif;
    color: #ededed;
    background-color: #1a1a1a;
    
    display: flex;          
    flex-direction: column; 
    justify-content: center;
    align-items: center;   
    text-align: center;
}

a {
    color: #9c9c9c;
}

.clickable-img {
    width: 45px;
    height: 45px;
    transition: 0.3s;
    cursor: pointer;
}

.clickable-img:hover {
    filter: brightness(1.4); 
}