@font-face {
    font-family: "source-sans-pro";
    src: url("../fonts/SourceSansPro-Bold.otf") format("opentype");
    font-weight: bold;
}
a {
    color: #d3d3d3;
}
html {
    background-color: #1a1a1a;
}
body {
    font-family: source-sans-pro;
    color: #ededed;
} 

.clickable-img {
    width: 45px;
    height: 45px;
    transition: 0.3s;
    cursor: pointer;
}

.clickable-img:hover {
    filter: brightness(1.4); 
}

.video-caption {
    color: #ededed;
    font-family: "source-sans-pro", sans-serif;
    font-weight: bold;
    margin-bottom: 5px;

    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}