@font-face {
    font-family: "source-sans-pro";
    src: url("../fonts/SourceSansPro-Bold.otf") format("opentype");
    font-weight: bold;
}

html {
    background-color: #1a1a1a;
}

body {
    font-family: "source-sans-pro", sans-serif;
    color: #ededed;
}

a {
    color: #d3d3d3;
}

.clickable-img {
    width: 45px;
    height: 45px;
    transition: 0.3s;
    cursor: pointer;
}

.clickable-img:hover {
    filter: brightness(1.2); 
}